/*-----------------------------------------------------
  ベース
------------------------------------------------------*/
html{
  padding:0px;
  margin:0px;
}

body {
  padding:0px;
  margin:0px;
  font-family: $font-main;
  color: $mainBlackFont;
  @include rem(16);
  // line-height: 1.6;
}

h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

ul,li,dl,dt,dd,table,tr,th,td{
  padding: 0;
  margin: 0;
}

ul,li{
  list-style:none;
}

a{
  text-decoration: none;
  color: $mainBlackFont;
  &:hover{
    text-decoration: none;
    color: $mainBlackFont;
  }
}

*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

.preload *{
  transition: none!important;
}

.section__ttl {
  @include rem(20);
  text-align: center;
}

.section__inner{
  margin: 0 15px;
}

/*-----------------------------------------------------
  ヘッダー
------------------------------------------------------*/

/*-----------------------------------------------------
  メイン
------------------------------------------------------*/
/* 共通 */
.screen {
  position: relative;
  max-width: 400px;
  max-height: 720px;
  height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #c0c0c0;
}

.contents { padding: 10px; }

/* ユーザー認証 */
.card-header {
  background-color: $mainColor;
  font-weight: bold;
}

.text_link {
  display: inline-block;
  text-decoration: underline;
}

/* スワイプ */
.photo {
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  top: 15px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid #c0c0c0;
  padding-bottom: 60px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #c0c0c0;
  object-fit: cover;
  img {

  }
}

.name {
  padding: 15px;
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  float: left;
  .age {
    font-weight: 200;
  }
}

// .tinfo { font-family: 'Helvetica', sans-serif; }
// .tinfo .fa-users, .tinfo .fa-book {
//   color: #c0c0c0;
//   float: right;
//   position: relative;
//   font-size: 24px;
//   padding: 12px;
// }

// ごめんなさい
.no {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 50px;
  left: 25px;
  border: 10px solid #f0f0f0;
}
.no i {
  color: $accentColor;
  font-size: 80px;
}

// .ti {
//   background-color: #fff;
//   height: 50px;
//   width: 50px;
//   border-radius: 50%;
//   -moz-border-radius: 50%;
//   -o-border-radius: 50%;
//   -ms-border-radius: 50%;
//   position: relative;
//   display: inline-block;
//   left: 12px;
//   top: 30px;
//   border: 10px solid #f0f0f0;
// }
// .ti .fa-info {
//   font-size: 23px;
//   padding: 15px 20px;
//   color: #398beb;
// }

// いいね
.yes {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  position: relative;
  display: inline-block;
  top: 48px;
  left: 0px;
  border: 10px solid #f0f0f0;
}
.yes i {
  color: $mainColor;
  font-size: 60px;
}

// .credit {
//   width: 400px;
//   height: auto;
//   position: relative;
//   top: 60px;
//   text-align: center;
//   background-color: #f0f0f0;
//   padding: 2px 0px;
// }
// .credit a {
//   font-size: 7px;
//   letter-spacing: 5px;
//   color: #c0c0c0;
//   text-decoration: none;
//   text-transform: uppercase;
//   font-family: 'Helvetica', sans-serif;
//   font-style: italic;
// }

/* チャット */


/* マイページ */


/*-----------------------------------------------------
  フッター
------------------------------------------------------*/
/* グローバルメニュー */
.menus {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  color: $mainColor;
  text-align: center;
  ul {
    display: flex;
    border-top: 1px solid #aaa;
    li {
      width: calc(100% / 3);
      &:not(:last-child) {
        border-right: 1px solid #aaa;
      }
      a {
        display: inline-block;
        width: 100%;
        min-height: 50px;
        padding: 10px 0;
        color: $mainColor;
        i {
          font-size: 50px;
        }
      }
    }
  }
}