/*-----------------------------------------------------
  ベース
------------------------------------------------------*/
html{
  padding:0px;
  margin:0px;
}

body {
  padding:0px;
  margin:0px;
  font-family: $font-main;
  color: $mainBlackFont;
  @include rem(16);
  // line-height: 1.6;
}

h2,h3,h4,h5,h6{
  padding: 0;
  margin: 0;
}

ul,li,dl,dt,dd,table,tr,th,td{
  padding: 0;
  margin: 0;
}

ul,li{
  list-style:none;
}

a{
  text-decoration: none;
  color: $mainBlackFont;
  &:hover{
    text-decoration: none;
    color: $mainBlackFont;
  }
}

*{
  box-sizing: border-box;
}

img{
  max-width: 100%;
  vertical-align: middle;
}

.preload *{
  transition: none!important;
}

.section__ttl {
  @include rem(20);
  text-align: center;
}

.section__inner{
  margin: 0 15px;
}

/*-----------------------------------------------------
  ヘッダー
------------------------------------------------------*/

/*-----------------------------------------------------
  メイン
------------------------------------------------------*/
/* 共通 */
.screen {
  position: relative;
  max-width: 400px;
  max-height: 720px;
  height: 100vh;
  background-color: #fff;
  margin: 0 auto;
  border: 1px solid #c0c0c0;
}

.contents {
  height: calc(100% - 45px);
  padding: 10px 10px 0px;
  margin-bottom: 45px;
}

/* ユーザー認証 */
.card-header {
  background-color: $mainColor;
  font-weight: bold;
}

.text_link {
  display: inline-block;
  text-decoration: underline;
}

/* スワイプ */
.photo {
  width: 350px;
  height: 350px;
  overflow: hidden;
  margin: 50px auto 30px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid #c0c0c0;
  padding-bottom: 60px;
  background-color: #fff;
  box-shadow: 2px 2px 2px #c0c0c0;
  img {
    object-fit: cover;
  }
}

.name {
  padding: 15px;
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  float: left;
  .age {
    font-weight: 200;
  }
}

// ごめんなさい
.no {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  display: inline-block;
  border: 10px solid #f0f0f0;
}
.no i {
  color: $accentColor;
  font-size: 80px;
}

// いいね
.yes {
  background-color: #fff;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  display: inline-block;
  border: 10px solid #f0f0f0;
}
.yes i {
  color: $mainColor;
  font-size: 60px;
}

/* チャット */
.chat {
  li {
    border-bottom: 1px solid $lightGray;
    a {
      display: block;
    }
  }
}

.talk {
  height: calc(100% - 68px);
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.talk::-webkit-scrollbar {
  display: none;
}

.talk-start {
  text-align: center;
}

.talk-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
.message{
  padding: 8px 16px;
  border-radius: 2rem;
  font-weight: bold;
}
.from {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  margin-bottom: 8px;
  .message {
    margin-left: 8px;
    background-color: $lightGray;
    color: $mainBlackFont;
  }
}
.to {
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  margin-bottom: 8px;
  .message {
    margin-right: 8px;
    background-color: $mainColor;
    color: $mainWhiteFont;
  }
}

.message-form {
  position: absolute;
  bottom: 45px;
  width: calc(100% - 20px);
  padding: 4px 0;
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
}

.message-textarea {
  height: 40px;
}

.message-btn {
  margin-left: 10px;
}

/* マイページ */
.mypage {
  text-align: center;
}

.mypage-img {
  width: 80%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  @include aspect-raito;
}

.mypage-name {
  margin: 15px 0;
  font-size: 20px;
  font-weight: bold;
}

.mypage-form {
  width: 100%;
}

.mypage-introduction {
  width: 100%;
  min-height: 100px;
  background: $lightGray;
  padding: 10px;
  border-radius: 10px;
  text-align: left;
}

.update-btn {
  margin-top: 10px;
  padding: 4px 8px;
  border-radius: 3rem;
  background: $mainColor;
  color: $mainWhiteFont;
  font-weight: bold;
}

.setting {
  display: inline-block;
  color: $darkGray;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 32px;
}

/*-----------------------------------------------------
  フッター
------------------------------------------------------*/
/* グローバルメニュー */
.menus {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #fff;
  color: $mainColor;
  text-align: center;
  ul {
    display: flex;
    border-top: 1px solid #aaa;
    li {
      width: calc(100% / 3);
      a {
        display: inline-block;
        width: 100%;
        min-height: 24px;
        padding: 8px 0;
        color: $mainColor;
        i {
          font-size: 24px;
        }
      }
    }
  }
}